/* recording.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow: hidden;
}

.parent-box {
  background: linear-gradient(to right, #b6ddee, whitesmoke);
  transition: background 0.3s ease;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.up_box {
  overflow: auto;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  background: linear-gradient(to right, #fdcccc, #fff1f1);
  box-shadow: 0px 0px 10px lightslategray;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  margin-top: 100px;
  overflow: auto;
}

.udH1 {
  color: rgb(9, 28, 104);
  font-size: 3vw;

}

.udh2 {
  color: rgb(9, 28, 104);
  font-size: 2vw;
}

.message {
  margin-top: 10px;
  color: #6b5716;
}

.record-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: rgb(98, 6, 6);
  font-weight: bold;
  margin-top: 10px;
}

.btnUd,
.btnBack,
.record-btn {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 20px;
  min-width: 50%;
  min-height: 20%;
  color: rgb(9, 28, 104);
  box-shadow: 3px 3px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

audio {
  background-color: whitesmoke;
  border: none;
  padding: 7px 10px;
  border-radius: 50px;
  width: 30vw;
  height: 5vh;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 5);
  margin-bottom: 2%;
}

.left_box {
  flex: 0 0 40%;
  align-items: center;
  justify-content: start;
  min-width: 45%;
  position: relative;
  font-size: 1.5vw;
  margin-bottom: 10%;
}

.right_box {
  flex: 0 0 60%;
  align-items: center;
  justify-content: center;
  min-width: 45%;
  position: relative;
}

.divided_body {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1%;
  flex-grow: 1;
  min-width: 90%;
}

.PropagateLoader_container {
  margin-top: 30px;
}

.coughUp_Move_box {
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: rgb(243, 252, 255);
  border: none;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 5vw;
  font-size: 21px;
  color: rgb(9, 28, 104);
}

.coughUp_Move_box:hover,
.record-btn:hover,
.btnUd:hover,
.btnBack:hover {
  background: linear-gradient(to right, #7bcedd, rgb(116, 118, 241));
  color: rgb(9, 28, 104);
  transform: scale(1.1);
  transition: transform 0.8s ease;
}

@media (max-width: 1000px) {


  .up_box {
    width: 90%;
    height: 85%;

    margin-bottom: 100px;
  }

  .udH1 {

    font-size: 4.5vw;
  }

  .udh2 {
    font-size: 3vw;
  }

  .record-btn,
  .btnUd,
  .btnBack {
    font-size: 2vw;
    padding: 5px 10px;
    min-width: 70%;
    width: 80px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 13px;
  }

  .coughUp_Move_box {
    font-size: 2vw;
  }

  .left_box,
  .right_box {
    font-size: 2vw;
  }

  audio {
    width: 42vw;
    height: 3vh;
  }

  .recordPg_Btb {
    padding: 5px 7px;
    font-size: 15px;
  }

  .PropagateLoader_container {
    display: none;
  }

  .parent-box {
    overflow: auto;
  }
}

@media (max-width: 500px) {
  .udh2 {

    margin-top: 40px;
  }

  .divided_body {
    display: flex;
    flex-direction: column;

  }

  .PropagateLoader-container {
    margin-top: 50px;
  }

  .up_box {
    width: 80%;
    height: 80%;
    justify-content: center;
    margin-top: 100px;
    flex: 3;
    flex-direction: column;

  }

  .record-container {

    margin-bottom: 20px;

  }

  .udH1 {
    font-size: 30px;

  }

  .udh2 {
    font-size: 6vw;
  }

  .record-btn,
  .btnUd,
  .btnBack {

    padding: 5px 7px;
    border-radius: 10px;
    font-size: 13px;
    min-width: 170px;


  }

  .left_box,
  .right_box {
    font-size: 15px;
  }

  audio {
    width: 45vw;
    height: 3.8vh;
  }

  .coughUp_Move_box {
    font-size: 2vw;
  }

  .bounce {
    display: none !important;
  }

  .recordPg_Btb {
    padding: 5px 7px;
    font-size: 15px;
  }

  .PropagateLoader_container {
    display: none !important;
    /* Hide spinner on screens less than 500px */
  }
}

.coughUp_Move_box {
  font-size: 1.3vw;
}