.menu_bar_container {
  position: fixed;
  top: 0px;
  right: 0px;
  max-height: 7%;
}

.menu_bar {
  display: flex;
  align-items: center;
  padding: 2px;
}

.menu_bar .icon {
  cursor: pointer;
  font-size: 30px;
  color: black;
  transition: color 0.3s ease;
}

.menu_bar .icon:hover {
  color: lightyellow;
  cursor: default;
}

.navbar {
  width: 100vw;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50%;
  height: auto;
 maring:0 0 10px 10px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: transparent;
  border: none;
  padding: 1.5vh 2vh;
  margin-right: 2vw;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  color: antiquewhite;
}

.nav_header {
  background-color: steelblue;
  padding: 1.5vh 2.5vh;
  color: white;
}