/* 기본 스타일 */
.menu_bar_container {
  position: fixed;
  top: 0px;
  right: 0px;
  max-height: 7%;
  width: 100%;
}

.menu_bar {
  display: flex;
  align-items: center;
  padding: 2px;
  gap: 2%;
}

.menu_bar .icon {
  cursor: pointer;
  color: black;
  font-size: 2vw;
}

.menu_bar .icon:hover {
  color: lightcoral;
  cursor: pointer;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3vw;
  padding-right: 2vw;
}

.nav-items {
  display: flex;
  align-items: center;
  margin-right: 1.2%;
}

.nav-button {
  background-color: transparent;
  border: none;
  padding: 1.5vh 2vh;
  margin-right: 2vw;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 6%;
  font-size: 2vw;
}

.nav_header {
  padding: 1.5vh 2.5vh;
  color: white;
}

.logo {
  cursor: pointer;
}

.logo_img {
  height: 17vh;
}

.login_menu {
  padding-bottom: 3vh;
}

/* 1000px 이하일 때 */
@media screen and (max-width: 1000px) {
  .menu_bar_container {
    max-height: 10%;
  }

  .menu_bar .icon {
    font-size: 3vw;
  }

  .navbar {
    padding-left: 4vw;
    padding-right: 3vw;
  }

  .nav-button {
    padding: 2vh 2.5vh;
    margin-right: 3vw;
    font-size: 2.5vw;
  }

  .logo_img {
    height: 20vh;
  }

  .login_menu {
    padding-bottom: 5vh;
  }
}


/* 600px 이하일 때 */
@media screen and (max-width: 600px) {
  .menu_bar_container {
    max-height: 15%;
  }

  .menu_bar {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    gap: 5%;
  }

  .menu_bar .icon {
    font-size: 4vw;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5vw;
    padding-right: 4vw;
  }

  .nav-items {
    margin-right: 0;
    margin-bottom: 2%;
  }

  .nav-button {
    padding: 2.5vh 3vh;
    margin-right: 0;
    margin-bottom: 10%;
    font-size: 3vw;
  }

  .logo_img {
    height: 25vh;
  }
}