.menu_bar_container {
  position: fixed;
  top: 0px;
  right: 0px;
  max-height: 7%;
  width: 100%;

}


.menu_bar {
  display: flex;
  align-items: center;
  padding: 2px;

}

.menu_bar .icon {
  width: 1.5vw;
  cursor: pointer;
  font-size: 1.5vw;
  color: black;
  transition: color 0.3s ease;
}

.menu_bar .icon:hover {
  color: lightyellow;
  cursor: default;
}

.logo_img {
  max-height: 100px;

}
.logo_img:hover{
  cursor: pointer;



}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3vw;
  padding-right: 2vw;
}



.nav-items {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: transparent;
  border: none;
  padding: 1.5vh 2vh;
  margin-right: 2vw;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  color: antiquewhite;
}

.nav_header {
  padding: 1.5vh 2.5vh;
  color: white;
}