.parent-box {
    background-color: rgb(245, 245, 220);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.up_box {
    border-radius: 5px;
    width: 80%;
    height: 80%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 부드러운 그림자 */
    padding: 20px;
    /* 내부 패딩을 추가하여 내용과 경계를 띄움 */
    box-sizing: border-box;
    /* 패딩을 포함하여 크기 계산 */
    text-align: center;
    justify-content: center;
}

.udH1 {

    color: rgb(104, 68, 9);
    font-size: 3vw;
    margin: 30px 0 10px 0;
}

.udh2 {
    color: rgb(104, 68, 9);
    font-size: 1.5vw;

}

.message {
    margin-top: 10px;
    /* 메시지와 상단 내용 사이에 약간의 마진을 추가 */
    color: #6b5716;
    /* 메시지 텍스트 색상 */
}

.record-container,
.input-container {

    margin-top: 5%;
    /* 각 컨테이너 상단에 마진을 추가하여 구분 */
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.record-container {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.error-message {
    color: rgb(98, 6, 6);
    font-weight: bold;
    margin-top: 10px;
}

.record-btn,
.inputbtn,
.btnUd {
    text-align: center;
    width: 15vw;
    margin: 30px;
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 3);

}

.record-btn:hover,
.inputbtn:hover,
.btnUd:hover {
    background-color: #eadfab;
}

.file-input {
    display: none;
}

.inputbtn {
    margin-left: 0;
}

audio {
    background-color: whitesmoke;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 3);
}

.audio-player :hover {
    color: black;
}

.audio-player {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.play-pause-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}