.parent-box {
    background: linear-gradient(to right, #b6ddee, whitesmoke);
    transition: background 0.3s ease;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.up_box {
    border-radius: 5px;
    width: 75%;
    height: 80%;
    background-color: rgb(255, 254, 242);
    box-shadow: 10px 10px 20px rgba(72, 62, 1, 0.5);
   
    margin-top: 5vw;
   
    box-sizing: border-box;
 
    text-align: center;
    justify-content: center;
    padding: 2vw 0; 
    
}

.udH1 {

    color: rgb(9, 28, 104);
    font-size: 2.6vw;
    margin: 30px 0 10px 0;
}

.udh2 {
    color: rgb(9, 28, 104);
    font-size: 1.3vw;

}

.message {
    margin-top: 10px;
   
    color: #6b5716;
 
}

.record-container {


  
    justify-content: center;
    align-items: center;
  
}
.input-container{

    margin-top: 4%;
    display: flex;      
   
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.record-container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    gap: 10%;
    margin-bottom: 2%;
   

}

.error-message {
    color: rgb(98, 6, 6);
    font-weight: bold;
    margin-top: 10px;
}

.inputbtn
{
    background-color: rgb(203, 240, 254);
    border: none;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 5vw;
    font-size: 0.9wv;
    width: 26%;
   
    color: rgb(9, 28, 104);
    box-shadow: 3px 3px 10px;

}

.record-btn,.btnUd {

    background-color: rgb(203, 240, 254);
    border: none;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 5vw;
    font-size: 0.9vw;
    width: 15%;
   
    color: rgb(9, 28, 104);
    box-shadow: 3px 3px 10px;

}

.record-btn:hover,
.inputbtn:hover,
.btnUd:hover {
    background-color: transparent;
    color: rgb(9, 28, 104);
}

.file-input {
    display: none;
}


audio {
    background-color: whitesmoke;
    border: none;
    padding: 10px 15px;
    border-radius: 5vw;
    width: 55vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 3);
}

.audio-player :hover {
    color: black;
}

.audio-player {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.play-pause-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}