
.initial-box{


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 70vw;
    background: transparent;
    /* box-shadow: 0px 0px 10px lightslategray; */
    margin: 2vw auto;
    position: relative;
    /* border: 3px double lightblue; */
    border-radius: 10px;
    color: rgb(9, 28, 104);
    margin-top: 6%;
    position: relative;
    padding: 1%;
    
}

.initialBtn{
    height: 50px;
    width: 200px;
    padding: 7px 30px;
    font-size: 20px;
    gap: 30px;
    color: black;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    margin :10px 10px ;
}

.initialBtn:hover{
  
    background-color: rgb(255, 255, 255);
    background: linear-gradient(to right, #7bcedd, rgb(116, 118, 241));


}