/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.mainPG_box {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 220);
}

.voice {
    display: flex;
    /* 자식 요소들을 수평으로 배치 */
    justify-content: space-between;
    /* 공간을 균등하게 배분 */
    align-items: center;
    width: 60%;
    height: 70%;
    background: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(72, 62, 1, 0.5);
    text-align: center;
}

.MainImg {
    flex: 1;
    /* 이미지가 차지할 공간 */
    text-align: center;
    /* 이미지 중앙 정렬 */
}

.MainImg img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.voiceContent {
    flex: 2;
    text-align: center;
    /* 텍스트 왼쪽 정렬 */
}

.voiceDsEg {
    font-size: 1.5vw;
    margin-bottom: 90px;
    margin-top: 5%;
    font-size: 3em;
    color: rgb(104, 68, 9);
}

.expln {
    font-size: 1.4em;
    margin: 20px 0;
    color: rgb(104, 68, 9);
}

.voiceDg {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 100px;
    color: rgb(104, 68, 9);
    box-shadow: 5px 5px 20px;
}

.voiceDg:hover {
    background-color: #f2f3e9;
    color: #3f4501;
    box-shadow: 5px 5px 20px;
}