
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.header {
  background-color: #3f4501;
  padding: 10px 20px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  margin-left: 2%;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  color :antiquewhite
}

.hamburger-menu {
  cursor: pointer;
  font-size: 1.5em;
}

.main-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  padding: 20px;
  background-color: rgb(245, 245, 220);
  
}

.voice, .covid {
 
  justify-self: center;
  width: 80%;
  height: 92%;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(72, 62, 1, 0.5);
  text-align: center;
  margin: 0 auto;
  
}

.voiceDsEg {
  font-size: 1.5em;
  margin-bottom: 90px;
  margin-top: 15%;
  font-size: 3em;
  color : rgb(104, 68, 9);
}

.expln {
  font-size: 1.4em;
  margin:20px 0; 
  color : rgb(104, 68, 9);
}

.voiceDg, .covidDg {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1em;
  margin-top: 100px;
  color : rgb(104, 68, 9);
  box-shadow: 5px 5px 20px;
}



 .covidDg :hover ,.voiceDg :hover {
  background-color: rgb(107, 61, 5);
 }