
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.header {
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.hamburger-menu {
  cursor: pointer;
  font-size: 1.5em;
}

.main-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: rgb(245, 245, 220);
  
}

.voice, .covid {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  
}

.voiceDsEg {
  font-size: 1.5em;
  margin-bottom: 70px;
  margin-top: 30%;
  font-size: 3em;
  color : rgb(104, 68, 9);
}

.expln {
  font-size: 1.2em;
  margin:20px 0; 
  color : rgb(104, 68, 9);
}

.voiceDg, .covidDg {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 100px;
  color : rgb(104, 68, 9);
  box-shadow: 5px 5px 20px;
}



 .covidDg :hover ,.voiceDg :hover {
  background-color: rgb(107, 61, 5);
 }