.ringLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(245, 245, 220);

}

.loaderText {
  text-align: center;
  margin: 5vw 0vw 0vw 18vw;
  font-size: 2vw;
  color: rgb(9, 28, 104);
}