.ringLoader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #b6ddee, whitesmoke);
  transition: background 0.3s ease;
}

.ring-loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderText {
  text-align: center;
  margin-top: 2rem;
  font-size: 2vw;
  color: rgb(9, 28, 104);
}

@media (max-width: 1000px) {
  .ring-loader-wrapper {
    display: none;
  }

  .loaderText {
    margin-top: 0;
    font-size: 4vw;
  }
}
