.dgBtn {
  background-color: rgb(203, 240, 254);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5vw;
    font-size: 1vw;
    margin-top: 50px;
    color:#090d5c;
    box-shadow: 5px 5px 20px;
    
  }
  
  .dgBtn:hover {
    background-color: #f2f3e9;
    color:#090d5c;
    box-shadow: 5px 5px 20px;
  }
  