.diagnosis_page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
 background: linear-gradient(to right, #b6ddee, whitesmoke);
}


.diagnosis_body_container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  border: 3px double lightblue;
  padding: 2vh 1vw;
  border-radius: 30px;
  background: linear-gradient(to right, #fdcccc, #fff1f1);
  box-shadow: 0px 0px 10px lightslategray;
  text-align: center;
  margin: 100px 0 30px 0;
  overflow: auto;

}


.contentDg {
  margin: 1.7vw 0 0 0;
  font-size: 2vw;
  color: rgb(9, 28, 104);




}

.resultDg {
  margin: 1.5vw 0 0 0;
  font-size: 2.8vw;
  color: rgb(9, 28, 104);



}

.Dgcontent_box {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2vw 0 0 4vw;
  gap: 3vw
}

.spinnerDg {

  margin-left: 3vw;

}

.Dg {

  flex: 3;
  font-size: 3vw;
  padding: 3vw;
  color: rgb(9, 28, 104);
  ;

}

@media (max-width: 1000px){


  .Dgcontent_box{

    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top:100px;
    
  }
  .Dg {

    
    font-size: 40px;
    padding: 25px;
    color: rgb(9, 28, 104);
    ;
  
  }

  .resultDg {
  
    margin: 1.5vw 0 0 0;
    font-size:50px;
    color: rgb(9, 28, 104);
  
  
  
  }
  .contentDg{

    font-size: 30px;
    margin-bottom: 30px;
 
  }
  
}

@media (max-width: 400px){

  .Dgcontent_box{

    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top:100px;
    
  }
  .Dg {

   
    font-size: 30px;
    padding: 10px;
    color: rgb(9, 28, 104);
    ;
  
  }

  .resultDg {
    margin: 1.5vw 0 0 0;
    font-size: 30px;
    color: rgb(9, 28, 104);
  
  
  
  }
  .contentDg{

    font-size: 20px;
    margin-bottom: 20px;
  }

}