.diagnosis_page {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
 
  background: linear-gradient(to right, #b6ddee, whitesmoke);
}


.diagnosis_body_container {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 70%;
  background-color: rgb(255, 254, 242);
  border: 3px double lightblue;
  padding: 1vw;
  border-radius: 10px;
  flex: 0 0 60%;
 
  text-align: center;
  margin: 3vw 0 0 0;
  box-shadow: 10px 10px 20px rgba(72, 62, 1, 0.5);
 
}


.contentDg{
  margin: 4vw 0 0 0;
  font-size: 2vw;
  color: rgb(9, 28, 104);
  


}
.resultDg{
  margin: 7vw 0 0 0;
  font-size: 5vw;
  color: rgb(9, 28, 104);
 


}